<a href="https://colab.research.google.com/github/GitBerg/Machine_Learning_Study/blob/master/Machine_Learning_Pre_Processamento_De_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Instalação do Plotly (Biblioteca de gráficos dinâmicos) e atualização para a última versão disponível.**

In [3]:
!pip install plotly --upgrade

Collecting plotly
  Downloading https://files.pythonhosted.org/packages/1f/f6/bd3c17c8003b6641df1228e80e1acac97ed8402635e46c2571f8e1ef63af/plotly-4.14.3-py2.py3-none-any.whl (13.2MB)
     |████████████████████████████████| 13.2MB 281kB/s
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Requirement already satisfied, skipping upgrade: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly) (1.3.3)
Installing collected packages: plotly
  Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed plotly-4.14.3

**Importação de bibliotecas uteis. Pandas (Carregamento de arquivos CSV), NumPy, Seaborn (Vizualização de gráficos), Matplotlib (Vizualização de gráficos) e plotly (Gráficos dinâmicos).**

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

**Colocando a base dados em uma variavel.**

In [3]:
base_credit = pd.read_csv('/content/credit_data.csv')

**Exibindo a base de dados**

In [ ]:
base_credit

**Mostrando uma descrição mais detalhada da base de dados**

In [9]:
base_credit.describe()

          clientid        income          age          loan      default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

**Exibindo os primeiros 5 valores da tabela de dados**

In [ ]:
base_credit.head()

**Exibindo os ultimos 5 valores da tabela de dados**

In [ ]:
base_credit.tail()

**Realizando busca de dados especificos**

In [11]:
base_credit[base_credit['income'] >= 69995.685578]

     clientid        income        age         loan  default
422       423  69995.685578  52.719673  2084.370861        0

In [12]:
base_credit[base_credit['loan'] <= 1.377630]

     clientid        income        age     loan  default
865       866  28072.604355  54.142548  1.37763        0